<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bebas+Neue&family=Bubblegum+Sans&family=Carter+One&family=Ceviche+One&family=Concert+One&family=Fredoka+One&family=Kalam:wght@700&family=Kaushan+Script&family=Mochiy+Pop+One&family=Oleo+Script&family=Rancho&family=Shrikhand&family=Titan+One&family=Varela+Round&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>

<body>